@import "./base";

.btn {
	padding: 16px 30px 15px 32px;
	border-radius: 28px;
	font-size: 15px;
	font-family: $headingFont;
	font-weight: 900;
	line-height: 25px;
	letter-spacing: -0.11px;
	text-transform: uppercase;

	&.light {
		background-color: $white;
		color: $darkBlue;
		transition: all 0.3s ease-out;

		&:hover {
			background-color: #77cdf5;
			color: $white;
		}
	}

	&.yellow {
		background-color: #fbd600;
		color: $darkBlue;
	}
}
