@import "../../sass/base";

.testimonials {
	margin-bottom: 86px;

	&__container {
		display: grid;
		max-width: 327px;
		margin: 0 auto;
		padding: 0 24px;
	}

	&__title {
		text-align: center;
		margin-bottom: 64px;
	}

	.testimonial {
		text-align: center;
		margin-bottom: 64px;

		&__img {
			width: 72px;
			height: 72px;
			border-radius: 50%;
			margin-bottom: 32px;
			align-self: center;
		}

		&__comment {
			color: $darkGrey;
			margin-bottom: 32px;
		}

		span {
			display: block;
		}

		&__about {
			&-fullname {
				font-family: $headingFont;
				font-weight: 900;
				font-size: 18px;
				line-height: 22.19px;
				letter-spacing: -0.13px;
				color: $darkBlue;
				margin-bottom: 9px;
			}

			&-position {
				font-size: 14px;
				line-height: 25px;
				letter-spacing: -0.1px;
				color: $grey;
			}
		}
	}

	.testimonial:last-child {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 375px) {
	.testimonials__container {
		padding: 0;
	}
}

@media screen and (min-width: 992px) {
	.testimonials__container {
		grid-template-columns: repeat(3, 1fr);
		max-width: 1100px;
		margin: 0 auto;
		grid-gap: 30px;

		.testimonial {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			padding: 0 10px;

			&__img {
				margin-bottom: 58px;
			}

			&__comment {
				margin-bottom: 69px;
			}

			&__about {
				margin-top: auto;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.testimonials__container {
		.testimonial {
			padding: 0;
		}
	}
}
